{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pagination in JavaScript</title>
    <link rel="stylesheet" href="{% static 'pagination.css' %}" type="text/css">
</head>
<body>

<div class="table">
    <table>
        <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Year</th>
            <th>Total Marks</th>
            <th>Percentage</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="footer">
        <span></span>
        <div class="index_buttons"></div>
    </div>
</div>

<script src="{% static 'js/pagination.js' %}"></script>
</body>
</html>